@import "./colors";

.layout-container {
  max-width: 1000px;
  margin: auto;
  padding: 5vh;
  background: lighten($accidental,40%);
}

.nav {
  background: $main;
  width: 100vw;
}

.layout-ul {
  width: 100%;
  display: flex;
  margin: 0;
  list-style-type: none;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
  .layout-ul li {
    width: 120px;
    margin: 0 6px 0 6px;
  }
  .layout-a {
    font-weight: 300;
    color: $second;
    text-decoration: none;
    &:hover {
      color: $accidental;
    }
  }


.layout-ul li {
  display: block;
  float: right;
}

footer {
  background: $main;
  color: $second;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
}
.layout-footer-a {
  color: $second;
  text-decoration: none;
  &:visited,
  :focus,
  :active {
    color: $second;
  }
  &:hover {
    color: $accidental;
  }
}

.layout-footer-span {
  margin-right: 64px;
}
main {
  min-height: 80vh;
}
